.notificare-modal-bg{
     position: fixed;
     top: 0px;
     left: 0px;
     background: rgba(0, 0, 0, .5);
     right: 0px;
     bottom: 0px;
 }
.notificare-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 680px;
    height: 570px;
    background: white;
    padding: 20px;
    text-align: center;
}
.notificare-image, .notificare-camera{
    width: 640px;
    height: 480px;
    display: block;
    margin: 0 auto;
}

.notificare-text-area{
    width: 640px;
    height: 480px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: 0;
}

.notificare-send, .notificare-cancel, .notificare-capture-image, .notificare-close-modal{
    display: block;
    padding: 8px;
    color: white;
    margin: 12px 5px 0 0;
    cursor: pointer;
}

.notificare-send, .notificare-capture-image{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .6em;
    border-radius: 3rem;
    border: none;
    padding: .45rem 1.5rem;
    line-height: 1rem;
    color: #f9f9f6;
    background-color: #27b0a3;
}

.notificare-close-modal, .notificare-cancel{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .6em;
    border-radius: 3rem;
    border: none;
    padding: .45rem 1.5rem;
    line-height: 1rem;
    color: #f9f9f6;
    background-color: #e54142;
}
