<div class="container padding-for-fixed">
	<div class="span8 offset2">
		<div class="padded">
			<div class="login box" style="margin-top: 80px;">					
				<div class="box-header">
					<span class="title">Maintenance</span>
				</div>
				<div class="box-content padded">
					<div class="error-page">
						<h3><i class="icon-warning-sign"></i>Our platform is currently undergoing scheduled maintenance.</h3>
						<p>Please come back later or create a support ticket at <a href="https://support.notifica.re/">support.notifica.re</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>