<div class="container padding-for-fixed">
	<div class="span8 offset2">
		<div class="padded">
			<div class="login box" style="margin-top: 80px;">					
				<div class="box-header">
					<span class="title">Server unreachable</span>
				</div>
				<div class="box-content padded">
					<div class="error-page">
						<h3><i class="icon-warning-sign"></i>MyApp is experiencing some technical issues.</h3>
						<p>We are already aware of the problem by now and trying to come back online as soon as possible.</p>
						<a href="/" class="btn btn-blue">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>